<div class="accounts-block">
    <p class="transactions-block-header">transactions</p>
    <div class="transactions-block_items">
        <a *ngFor="let transaction of transactions" class="transactions-block_item" [routerLink]="['transactions', transaction.id]">
            <div class="transactions-amount" [class]="{
                'earning': transaction.type === 'EARNING',
                'spending': transaction.type === 'SPENDING'
            }">
                {{ transaction.amount }}
            </div>

            <div class="transactions-main-info">
                <div class="transactions-titles">
                    <div>{{transaction.category}}</div>
                    <div>{{transaction.account.name}}</div>
                </div>
                <div class="transactions-date">
                    {{transaction.date | date: 'MM/dd/yyyy'}}
                </div>
            </div>
        </a>
    </div>
</div>