<div [class.show]="selectedStock" class="summary-selected-stock">
    {{selectedStock?.amount | currency }} at {{ selectedStock?.date | date: 'MM/dd' }}
</div>
<div class="summary-daily-stocks">
    <div *ngFor="let sds of response.dailyReports"
         (click)="this.selectedStock = this.colorChangerService.changeSelectedData(sds, this.selectedStock)"
         class="summary-daily-stock"
         [style.height]="this.stockService.getSummaryStockHeight(sds.amount, this.response)"
         [style.background-color]="sds.color">
    </div>
</div>
<div class="summary-reports">
    <div *ngFor="let report of response.profitReports">
        <app-period-report [report]="report"></app-period-report>
    </div>
</div>
