<div class="summary-selected-stock">
    {{selectedStock.dailyAmount | currency }} at {{ selectedDate | date: 'MM/dd' }}
</div>
<div class="summary-daily-stocks">
    <div *ngFor="let sds of summaryData.summaryDailyStocks"
         (click)="changeSelectedData(sds)"
         class="summary-daily-stock"
         [style.height]="getHeight(sds.dailyAmount)"
         [style.background-color]="sds.color">
    </div>
</div>
<div class="summary-reports">
    <div *ngFor="let report of summaryData.reports">
        <app-period-report [report]="report"></app-period-report>
    </div>
</div>
