.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition-duration: .3s;

    &:hover {
      transition-duration: .3s;
    }


    img {
      height: 15px;
      width: 15px;
    }
  }
}

.plus {
  background-color: #76FF94;
}

.minus {
  background-color: #FF7676;
}

.transfer {
  background-color: #7BD4FA;
}

.button.plus:hover {
  background-color: #56e075;
}

.button.minus:hover {
  background-color: #e05b5b;
}

.button.transfer:hover {
  background-color: #5bc2e8;
}
