.transactions-container {
  margin-top: 10px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}


.transactions-navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 10px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    transition-duration: .3s;
    background-color: #b9b9b9;
    cursor: pointer;

    &:hover {
      transition-duration: .3s;
      background-color: #838383;
    }
  }
}
