<div class="transactions-container" *ngIf="response && response.elements.length > 0">
  <div class="transactions-item">
    <app-transaction-item *ngFor="let transaction of response.elements"
                          [transaction]="transaction"/>
  </div>
  <app-navigation *ngIf="response.elements.length > 5" [link]="url"
                  (changeNavigationConfig)="loadTransaction($event)"
                  [isNext]="response.isNextPage"
                  [isPrev]="response.isPrevPage"
  />
</div>
