h1 {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  span {
    font-size: 20px;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  a {
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b9;
  }
}

.indicator {
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
}
