<div *ngIf="transaction" class="transaction-block">
  <h1>
    <span>Transaction at {{transaction.createdAt | date:'MM/dd/yyyy HH:mm:ss'}}</span>
  </h1>

  <h3 class="amount" [ngStyle]="{
    backgroundColor: determineBackgroundColor()
  }">{{ transaction.amount | currency }}</h3>

  <div *ngIf="transaction.type === 'TRANSFER'; else notTransferTransaction">
    <div class="links">
      <a class="link" [routerLink]="['/accounts', transaction.accountId]">{{ transaction.accountName }}</a>
      <a class="link" [routerLink]="['/accounts', transaction.receiverAccountId]"> {{ transaction.receiverAccountName }}</a>
    </div>
  </div>

  <ng-template #notTransferTransaction>
    <div class="links">
      <a class="link" [routerLink]="['/accounts', transaction.accountId]">{{  transaction.accountName }}</a>
      <a class="link" [routerLink]="['/categories', transaction.categoryId]">{{ transaction.categoryName }}</a>
    </div>
  </ng-template>

  <app-change-entity-call-buttons (callDeleteBtn)="deleteTransaction()" (callUpdateBtn)="showUpdateTransactionForm()" />
</div>
