<!-- Earning Form -->
<div (click)="toggleEarningForm(false)" *ngIf="isShowNewEarning" class="forms">
    <form (click)="stopPropagation($event)" (ngSubmit)="submitEarningForm()" [formGroup]="earningForm">
        <input formControlName="amount" placeholder="Value" type="number"/>
        <h3>Total {{ data.total }}</h3>
        <select formControlName="accountId">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
        </select>
        <select formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <input formControlName="date" placeholder="Date" type="date">
        <input formControlName="sender" placeholder="From (Optional)" type="text"/>
        <input formControlName="note" placeholder="Note (Optional)" type="text"/>
        <div class="form-buttons">
            <button [disabled]="earningForm.invalid" class="add-btn" type="submit">Save</button>
            <button (click)="closeAllForms()" class="close-btn" type="button">Close</button>
        </div>
    </form>
</div>

<!-- Spending Form -->
<div (click)="toggleSpendingForm(false)" *ngIf="isShowNewSpending" class="forms">
    <form (click)="stopPropagation($event)" (ngSubmit)="submitSpendingForm()" [formGroup]="spendingForm">
        <input formControlName="amount" placeholder="Value" type="number"/>
        <h3>Total {{ data.total }}</h3>
        <select formControlName="accountId">
          <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
        </select>
        <select formControlName="categoryId">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <input formControlName="date" placeholder="Date" type="date">
        <input formControlName="sender" placeholder="From (Optional)" type="text"/>
        <input formControlName="note" placeholder="Note (Optional)" type="text"/>
        <div class="form-buttons">
            <button [disabled]="spendingForm.invalid" class="add-btn" type="submit">Save</button>
            <button (click)="closeAllForms()" class="close-btn" type="button">Close</button>
        </div>
    </form>
</div>

<!-- Transfer Form -->
<div (click)="toggleTransferForm(false)" *ngIf="isShowNewTransfer" class="forms">
    <form (click)="stopPropagation($event)" (ngSubmit)="submitTransferForm()" [formGroup]="transferForm">
        <input formControlName="amount" placeholder="Value" type="number"/>
        <label for="from">From</label>
        <select formControlName="senderAccount" id="from">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
        </select>
        <label for="to">To</label>
        <select formControlName="receiverAccount" id="to">
            <option *ngFor="let account of accounts" [value]="account.id">{{ account.name }}</option>
        </select>
        <input formControlName="date" placeholder="Date" type="date">
        <div class="form-buttons">
            <button [disabled]="transferForm.invalid" class="add-btn" type="submit">Save</button>
            <button (click)="closeAllForms()" class="close-btn" type="button">Close</button>
        </div>
    </form>
</div>

<!-- Transaction Buttons -->
<app-transaction-buttons
        (changeEarning)="toggleEarningForm(true)"
        (changeSpending)="toggleSpendingForm(true)"
        (changeTransfer)="toggleTransferForm(true)"
></app-transaction-buttons>
