div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form {
  height: 300px;
  padding: 20px;
  width: 500px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input {
    height: 30px;
    width: 100%;
    padding: 5px;
    border: 1px solid #000000;
  }

  button {
    background-color: #E3E3E3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    transition-duration: .3s;

    &:hover {
      transition-duration: .3s;
      background-color: #c3c3c3;
    }
  }
}
