div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.download-btn {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: .3s;
}
