<div class="stock-item-wrapper">
    <div class="stock-item">
        <div class="spending"
             [class.active]="isActive"
             [style.height]="getSpendingHeight()">
            <div class="value">
                {{ _stock().spending | currency }}
            </div>
        </div>
        <div class="earning"
             [class.active]="isActive"
             [style.height]="getEarningHeight()">
            <div class="value">
                {{ _stock().earning | currency }}
            </div>
        </div>
        <div class="placeholder" *ngIf="getEarningHeight() === '0px' && getSpendingHeight() === '0px'"
             [style.height]="'220px'">
          <div class="value"></div>
        </div>
    </div>
    <p>{{ _stock().date | date:'MM/dd' }}</p>
</div>
