.summary-report {
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.summary-report-title {
  font-size: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px;
}

.summary-report-results {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
  margin: 0 10px 0;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #76FF94;
    padding: 5px;
  }
}
