<div (click)="onCloseForms()" *ngIf="isShowNewEarning || isShowNewTransaction || isShowNewSpending" class="forms">
    <form (click)="stopPropagation($event)" *ngIf="isShowNewEarning">
        <input id="amount-earning" placeholder="Value" type="number"/>
        <h3>Total {{data.total}}</h3>
        <select id="account-earning">
            <option *ngFor="let account of data.accounts" [value]="account">{{account}}</option>
        </select>
        <select id="categories-earning">
            <option *ngFor="let category of data.earningCategories" [value]="category">{{category}}</option>
        </select>
        <input placeholder="Date" type="date">
        <input id="sender-earning" placeholder="From (Optional)" type="text"/>
        <input id="note-earning" placeholder="Note (Optional)" type="text"/>
        <div class="form-buttons">
            <button class="add-btn">save</button>
            <button (click)="this.isShowNewEarning = false;" class="close-btn" type="button">close</button>
        </div>
    </form>

    <form (click)="stopPropagation($event)" *ngIf="isShowNewSpending">
        <input id="amount-spending" placeholder="Value" type="number"/>
        <h3>Total {{data.total}}</h3>
        <select id="account-spending">
            <option *ngFor="let account of data.accounts" [value]="account">{{account}}</option>
        </select>
        <select id="categories-spending">
            <option *ngFor="let category of data.spendingCategories" [value]="category">{{category}}</option>
        </select>
        <input placeholder="Date" type="date">
        <input id="note-spending" placeholder="Note (Optional)" type="text"/>
        <div class="form-buttons">
            <button class="add-btn">save</button>
            <button (click)="this.isShowNewSpending = false;" class="close-btn" type="button">close</button>
        </div>
    </form>

    <form (click)="stopPropagation($event)" *ngIf="isShowNewTransaction">
        <input id="amount-transfer" placeholder="Value" type="number"/>
        <label for="from">From</label>
        <select id="from">
            <option *ngFor="let account of data.accounts" [value]="account">{{account}}</option>
        </select>

        <label for="to">To</label>
        <select id="to">
            <option *ngFor="let account of data.accounts" [value]="account">{{account}}</option>
        </select>

        <div class="form-buttons">
            <button class="add-btn">save</button>
            <button (click)="this.isShowNewTransaction = false;" class="close-btn" type="button">close</button>
        </div>
    </form>
</div>


<div class="buttons">
    <button (click)="onShowAddNewEarningTransaction()" class="button plus">
        <img alt="img error" src="/transaction-buttons/plus.svg">
    </button>
    <button (click)="onShowAddNewSpendingTransaction()" class="button minus">
        <img alt="img error" src="/transaction-buttons/minus.svg">
    </button>
    <button (click)="onShowAddNewTransferTransaction()" class="button transfer">
        <img alt="img error" src="/transaction-buttons/transfer.svg">
    </button>
</div>
