.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px 0;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition-duration: .3s;
    border: 1px solid #000000;

    &:hover {
      transition-duration: .3s;
    }

    img {
      height: 15px;
      width: 15px;
    }
  }
}
