<div *ngIf="account" class="selected-account-block">
  <h1>{{account.name}}</h1>
  <h2 [ngStyle]="{ backgroundColor: Colors.LIGHT_BLUE }">{{account.currentBalance | currency }}</h2>
  <ul class="moneys">
    <li *ngIf="account.earnMoney > 0"
        [ngStyle]="{
          width: earnWeight,
          backgroundColor: Colors.LIGHT_GREEN
        }"
    >{{account.earnMoney | currency }}</li>
    <li *ngIf="account.spendMoney > 0"
        [ngStyle]="{
          width: spendWeight,
          backgroundColor: Colors.LIGHT_RED
        }"
    >{{account.spendMoney | currency }}</li>
  </ul>
</div>

<app-change-entity-call-buttons (callDeleteBtn)="deleteAccountById()" (callUpdateBtn)="this.isShowNewAccount = true" />

<div *ngIf="responseTransactions">
  <div class="transactions-item">
    <app-transaction-item *ngFor="let transaction of responseTransactions.elements"
                          [transaction]="transaction"/>
  </div>
  <app-navigation (changeNavigationConfig)="loadTransactions($event)"
                  [link]=accountUrl
                  [isNext]="responseTransactions.isNextPage"
                  [isPrev]="responseTransactions.isPrevPage"
  />
</div>

<div (click)="isShowNewAccount = false" *ngIf="isShowNewAccount" class="forms">
  <form (click)="stopPropagation($event)" (ngSubmit)="updateExistedAccount()" [formGroup]="form">
    <input placeholder="Account name" type="text" formControlName="name" />
    <input placeholder="Amount of money" type="number" value="0" formControlName="balance"/>
    <div class="form-buttons">
      <button class="add-btn" type="submit">save</button>
      <button (click)="isShowNewAccount = false" class="close-btn" type="button">close</button>
    </div>
  </form>
</div>
