<header>
    <div class="header-line">
      <span></span>
      <h1>
        <a routerLink="/">
          <span>M</span>
          <span>T</span>
        </a>
      </h1>
      <button class="logout-btn"  appHoverBackgroundColor [color]="Colors.LIGHT_GRAY" (click)="authService.logout()">LOGOUT</button>
    </div>
    <nav>
        <div class="links">
            <div *ngFor="let link of links">
                <app-header-link [link]="link"/>
            </div>
        </div>
    </nav>
</header>
