<div (click)="onCloseForms()" *ngIf="isShowNewAccount" class="forms">
    <form (click)="stopPropagation($event)" *ngIf="isShowNewAccount">
        <input id="name" placeholder="Account name" type="text"/>
        <input id="init-value" placeholder="Amount of money" type="number"/>
        <div class="form-buttons">
            <button class="add-btn">save</button>
            <button (click)="this.isShowNewAccount = false;" class="close-btn" type="button">close</button>
        </div>
    </form>
</div>

<button (click)="isShowNewAccount = true" class="add-account-btn" routerLink="/accounts/new">add account</button>