.add-account-btn {
  cursor: pointer;
  width: 100%;
  background-color: #E3E3E3;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition-duration: .3s;

  &:hover {
    background-color: #c0c0c0;
    transition-duration: .3s;
  }
}

input, select {
  height: 50px;
  padding: 0 10px;
  border: 1px solid #000000;
}

label {
  margin-bottom: -15px;
}
