<div (click)="isShowNewAccount = false" *ngIf="isShowNewAccount" class="forms">
    <form (click)="stopPropagation($event)" (ngSubmit)="createNewAccount()" [formGroup]="form">
        <input placeholder="Account name" type="text" formControlName="name" />
        <input placeholder="Amount of money" type="number" formControlName="startBalance"/>
        <div class="form-buttons">
            <button class="add-btn" type="submit">save</button>
            <button (click)="isShowNewAccount = false" class="close-btn" type="button">close</button>
        </div>
    </form>
</div>

<button (click)="isShowNewAccount = true" class="add-account-btn">add account</button>
