h1 {
  font-size: 20px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF7676;
}
